* {
    box-sizing: border-box
}

html,
body {
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-content {
    background-color: #fff;
    padding: 1rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title h3 {
    margin: 0;
}

.card-actions {
    display: flex;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

th,
td {
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #e2e8f0;
}

th:last-child,
td:last-child {
    text-align: right;
}

tbody tr:last-child td {
    border-bottom: none;
}

tfoot {
    font-weight: bold;
}

tfoot td {
    border-top: 1px solid #e2e8f0;
    padding-top: 0.5rem;
    text-align: right;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-grow: 1;
}

label {
    margin-bottom: 5px;
}

.input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.btn {
    flex: 1;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container .left-buttons {
    display: flex;
}

.button-container .right-buttons {
    display: flex;
}

.button-container .left-buttons button,
.button-container .right-buttons button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.btn-red {
    background-color: #a80000 !important;
    color: #fff;
}

.btn-green {
    background-color: #009900 !important;
    color: #fff;
}

.btn-blue {
    background-color: #0a81f0 !important;
    color: #fff;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.title :hover {
    color: #d1d1d1 !important;
}

.buttons {
    display: flex;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0062cc;
}

.homeLink {
    color: #FFFFFF;
    text-decoration: none;
}