html,
body {
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-content {
    background-color: #fff;
    padding: 1rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title h3 {
    margin: 0;
}

.card-actions {
    display: flex;
    align-items: center;
}

.select-button,
.delete-button {
    background-color: #e2e8f0;
    border: none;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.select-button::before {
    content: "\2713";
    font-size: 12px;
    color: #718096;
}

.delete-button::before {
    content: "\2715";
    font-size: 12px;
    color: #718096;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

th,
td {
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #e2e8f0;
}

th:last-child,
td:last-child {
    text-align: right;
}

tbody tr:last-child td {
    border-bottom: none;
}

tfoot {
    font-weight: bold;
}

tfoot td {
    border-top: 1px solid #e2e8f0;
    padding-top: 0.5rem;
    text-align: right;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex-grow: 1;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
button {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    /* definir o tamanho automático */
    margin-left: 5px;
    /* adicionar espaçamento */
}

button:hover {
    background-color: #3e8e41;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #cc2b27;
}